* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*header*/  
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    background-color: #eee;
    max-width: 1440px;
    margin: auto;
}
.logo{
    margin-top: 15px;
    margin-left: 30px;
    margin-bottom: 15px;
}
.logo img{
    width: 90px;
    height: 90px;
}
a.logo:hover{
    background: none;
}
/*menu*/
a {
    color: #121212;
    text-decoration: none;
    transition: 0.3s;
    padding: 20px;
    font-size: 20px;
    text-transform: uppercase;
}
  
a:hover {
    opacity: 0.7;
    background-color: #121212;
    color: #fff;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #eee;
    height: 8vh;
}
  
.nav-list {
    list-style: none;
    display: flex;
}
  
.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

/*menu sanduíche*/
.mobile-menu {
    display: none;
    cursor: pointer;
}
  
.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #121212;
    margin: 8px;
    transition: 0.3s;
}

/*responsividade menu mobile*/
@media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #eee;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  /*animações*/
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}