* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
/*header*/  
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  background-color: #eee;
  max-width: 1440px;
  margin: auto;
}
.logo{
  margin-top: 15px;
  margin-left: 30px;
  margin-bottom: 15px;
}
.logo img{
  width: 90px;
  height: 90px;
}
a.logo:hover{
  background: none;
}
.logo img:hover{
  width: 120px;
  height: 120px;
}
/*menu*/
a {
  color: #121212;
  text-decoration: none;
  transition: 0.5s;
  padding: 20px;
  font-size: 20px;
  text-transform: uppercase;
}
  
a:hover {
  opacity: 0.8;
  background-color: #121212;
  color: #fff;
}


nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #eee;
  height: 8vh;
}
  
.nav-list {
  list-style: none;
  display: flex;
}
  
.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

/*menu sanduíche*/
.mobile-menu {
  display: none;
  cursor: pointer;
}
  
.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #121212;
  margin: 8px;
  transition: 0.5s;
}

/*responsividade menu mobile*/
@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 13vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #eee;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  /*animações*/
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

/*banner*/
main{
  max-width: 1440px;
  align-items: center;
  margin: auto;
}
.banner{
  background-image: url(../images/psg-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
}
h1{
  text-align: center;
  color: #fff;
  padding-top: 180px;
}
h1::after {
  content: '|';
  margin-left: 5px;
  opacity: 1;
  animation: pisca .7s infinite;
}
@keyframes pisca{
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@media (max-width: 999px) {
  h1{
    padding-top: 50px;
  }
}

/*sobre*/